{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
</head>
<body>
   
    <div class="space"></div>
    <section class="first_section1">
        <div class="container">
                <h2>About Us</h2>
                <hr>
        </div>
        <div class="fsec">
            <img src="media/img/blooddonation.jpeg" alt="About Image" >
            <blockquote>
                <h2>Our Mission</h2>
                <p>
                At GiveWell, our mission is simple yet profound: 
                to ensure that no child goes to bed hungry. 
                We believe that every child deserves access to nutritious food, 
                and we are committed to making that belief a reality. 
                Our work centers on alleviating child hunger and malnutrition, 
                one meal at a time.
                </p>
            </blockquote>
        </div>
        <div class="space2"></div>
        <div class="fsec2">
            <blockquote>
                <h2>Health Care</h2>
                <p>
                Our organization is dedicated to making a meaningful 
                impact on the lives of those facing health emergencies in hospitals. 
                We are a passionate group of individuals who believe in the power of 
                collective compassion to alleviate suffering and save lives. Our mission 
                is simple yet profound: to provide essential financial support to 
                individuals and families in dire need during times of health crises.
                </p>
            </blockquote>
            <img src="../assets/medical.jpeg" alt="About Image" >
        </div>
        <div class="space2"></div>

        <div class="fsec">
            <img src="../assets/environment.jpeg" alt="About Image" >
            <blockquote>
                <h2>Environment Care</h2>
                <p>
                We envision a world where the natural beauty and resources of our 
                planet are cherished, protected, and sustained for generations to come. 
                Our goal is to inspire individuals, communities, and corporations to take 
                responsible actions to safeguard our environment and create a more sustainable future.


                </p>
            </blockquote>
        </div>
        <div class="space2"></div>
        <div class="fsec2">
            <blockquote>
                <h2>Natural Disasters</h2>
                <p>
                At Charity Donation for Natural Disasters, 
                our mission is to provide immediate relief 
                and long-term support to those affected by 
                natural disasters around the world. We believe 
                that in times of crisis, compassion and solidarity 
                can make a significant difference in the lives of survivors.
                </p>
            </blockquote>
            <img src="../assets/natural-disaster.jpeg" alt="About Image" >
        </div>

    </section>
    <div class="space2"></div>
    <div class="space2"></div>
   
</body>
</html>